/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.clearfix::after{
  display: table;
  content: "";
  clear: both;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* STYLE */
.float {
  float: left;
}

.center-margin-60{
  margin: 0 60px;
}

.footer-nav ul li,a{
  color: white;
}

.navbar ul li a{
  color: black;
font-weight: 500;
}

ul{
  list-style-type:none;
}


/* CONTAINERS */

.container-s {
  max-width: 1000px;
  margin: 0 auto;
}

.container-m {
  
  max-width: 1200px;
  margin: 0 auto;
}

.container-l {
  max-width: 100%;
  margin: 0 auto;
}

/* HEIGHT CONTAINER */



/* WIDTH CONTAINER */

.w-12{
  width: 12%;
}


.w-20{
  width: 20%;
}


.w-25{
  width: 25%;
}

.w-30{
  width: 30%;
}

.w-33{
  width: calc(33% - 37px);
}

.w-50{
  width: 50%;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-70{
  width: 70%;
}

.w-80{
  width: 80%;
}


.w-100{
  width: 100%;
}




/* ICON */

.faq-section i .fa-chevron-down{ 
  text-align: right;}

.fa-globe-americas{
  color: white;
}

.fa-chevron-up{
  color: lightgray;
  font-size: 10px;
  
}

/* BUTTON */

.btn{
  border: 1px solid black;
  padding: 5px 19px;
}
.btn.btn-blue{
  color: white;
  background-color: #0061ff;
  border-color: #0061ff;
}

.btn.btn-padding{
  padding: 5px 50px;
}

/* HEADER  */

.navbar {
  height: 80px;
  line-height: 80px;
}

.navbar ul li{
  color: black;
  display: inline;
  padding: 0 20px;
}

.navbar ul:last-child{
  text-align: right;
}

.navbar  li a img{
  vertical-align: middle;
}

/* SPOTLIGHT  */

.spotlight-section {
  height: 500px;
  background-color: #b4d0e7;
}

/* PLAN SELECTOR  */

.chose-plan-section div{
  border: 1px solid black;
  height: 600px;
  
}




/* ENTERPRISE  */

.enterprise-plan-section{
  border: 1px solid black;
  height: 200px;
  margin-top: 50px;
}

.enteprise-icon{
  text-align: center;
  padding: 10px;
}

.enterprise-plan-section .text-section{
  padding-top: 20px;
padding-left: 30px;

}

.enterprise-plan-section .text-section h2{
  margin-bottom: 15px;

}

.enterprise-plan-section .text-section h4{
  margin-bottom: 15px;

}

.enterprise-plan-section .text-section p{
  font-size: 13px;
font-weight: 500;
}

.enterprise-plan-section .link-section{
  margin-top: 30px;
}



/* PARTNER  */

.partner-finder-section div{

  margin-top: 50px;

}

.partner-finder-section img{
  width: 100%;
}


.partner-finder-section h2{
  font-size: 24px;
  margin-bottom: 20px;
}

.partner-finder-section p{
  font-size: 14px;
margin-bottom: 30px;
font-weight: 500;
line-height: 25px;
}

.partner-finder-section a{
  color: black;
}



.partner-finder-section .text-section{
  padding: 40px 50px;
}
/* FEATURES  */

.features-section{
  margin-top: 50px;
}

.features-section h2{
  font-size: 38px;
  margin-bottom: 40px;
  font-weight: 800;
}
}

.features-section .card{
  margin-bottom: 80px;
  height: 500px;
  border: 1px solid red;
}

.card img{
  width: 100%;
}

.card h3{
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.card p{
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}

.text-section span{
  text-decoration: underline;

}
.card{
  margin-bottom: 100px;


}

/* TESTIMONIAL  */

.testimonial-section div{
  border: 1px solid blue;
  height: 500px;
}

.square-testimonial{
  border: 2x solid black;
background-color: red;
  height: 200px;
  height: 50%;

}

/* FREE TRIAL  */

.trial-section{
  background-color: #b4d0e7;
  height: 200px;
}

/* FAQ */

.faq-section{

  margin-top: 50px;
}

.faq-section h2{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.faq-section li{
  font-weight: bold;
  margin: 30px 0;
}

/* FOOTER */

footer{
  background-color: black;
  margin-top: 100px;
  padding-bottom: 80px;
}

.footer-nav div{
  margin-top: 50px;

}

.footer-nav li:first-of-type{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.footer-nav li a{
  font-size: 15px;
  line-height: 30px;
}

.faq-section hr{
opacity: 0.2;
}


.footer-nav hr{
 
  color: red;
  width: 100px;
  text-align: left;

}

.border-footer{
  border-top: 1px solid white;
  width: 110px;
  margin-bottom: 40px;
}

.sub-footer {
  height: 50px;
  opacity: 0.5;

}

.language-section{ 
  padding-top: 10px;
}

.sub-footer span{
  

  color: lightgray;
font-weight: 200;
font-size: 13px;
}